{% extends "base.html" %}

{% block main %}

<br>

<title>Donor Registration Form</title>


<div class="row">
    <div class="col-3"></div>
    <div class="col-6">

        <h4 class="text-center">
             Enter Information of Yours for Registration 
             <a href="/donor/d_login/" style="margin-left: 30px;">already registered ?</a>  
        </h4>  

        <br>

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="first_name" class="form-label">First Name</label>
                <input type="text" class="form-control" name="first_name" id="first_name" required>
              </div>
              <div class="mb-3">
                <label for="last_name" class="form-label">Last Name</label>
                <input type="text" class="form-control" name="last_name" id="last_name" required>
              </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" name="email" id="email" aria-describedby="enter email" required>
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" id="password" required>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone Number</label>
                <input type="text" class="form-control" name="phone" id="phone" required>
              </div>
              <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <textarea class="form-control" name="address" id="address" rows="4" required></textarea>
              </div>
              <div class="mb-3">
                <label class="form-label" for="blood_group">Select Blood Group</label>
                <select name="blood_group" id="blood_group" class="form-select" aria-label="select blood group" required>
                    {% for y in stock %}
                    <option value="{{y.id}}">{{y.blood_type}}</option>
                    {% endfor %}
                  </select>    
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

    </div>
    <div class="col-3"></div>
</div>

{% endblock %}