{% extends "base_ricipient.html" %}

{% block sidebar %}

<br>

<title>Dashboard</title>
  
<div class="content">
  <h2>Account Summary</h2>
  <br>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <!-- order -->
      <form>
        <div class="mb-3">
          <label for="fullName" class="form-label">Full Name</label>
          <input type="text" class="form-control" id="fullName" name="full_name" aria-describedby="fullNameHelp">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="age" class="form-label">Age</label>
          <input type="number" class="form-control" id="age" name="age">
        </div>
        <div class="mb-3">
          <label for="bloodGroup" class="form-label">Blood Group</label>
          <input type="text" class="form-control" id="bloodGroup" name="blood_group">
        </div>
        <div class="mb-3">
          <label for="quantity" class="form-label">Quantity</label>
          <input type="number" class="form-control" id="quantity" name="quantity">
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <textarea class="form-control" id="address" name="address" rows="3"></textarea>
        </div>
        <div class="mb-3">
          <label for="govtId" class="form-label">Government ID</label>
          <input type="text" class="form-control" id="govtId" name="government_id">
        </div>
        <div class="mb-3">
          <label for="profType" class="form-label">Profession Type</label>
          <select class="form-select" aria-label="Default ID Prof type" name="profession_type">
            <option value="addharcard">ADDHAR CARD</option>
            <option value="pancard">PAN CARD</option>
            <option value="votercard">VOTER CARD</option>
            <option value="rationcard">RATION CARD</option>
            <option value="passport">PASSPORT</option>
            <option value="other">OTHER</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="contactNumber" class="form-label">Contact Number</label>
          <input type="tel" class="form-control" id="contactNumber" name="contact_number">
        </div>
        <div class="mb-3">
          <label for="emergencyContact" class="form-label">Emergency Contact Number</label>
          <input type="tel" class="form-control" id="emergencyContact" name="emergency_contact">
        </div>
        <div class="mb-3">
          <label for="deliveryDate" class="form-label">Delivery Date</label>
          <input type="date" class="form-control" id="deliveryDate" name="delivery_date">
        </div>
        <div class="mb-3">
          <label for="deliveryTime" class="form-label">Delivery Time</label>
          <input type="time" class="form-control" id="deliveryTime" name="delivery_time">
        </div>
        <div class="mb-3">
          <label for="deliveryMode" class="form-label">Delivery Mode</label>
          <select class="form-select" aria-label="Default select example" name="delivery_mode">
            <option value="online">Online</option>
            <option value="offline">Offline</option>
          </select>
        </div>
        <button type="submit" class="btn btn-dark">Place Order</button>
      </form>
    </div>
    <div class="col-1"></div>
  </div>

  <br>
  <br>
  <br>
</div>


    <br>
          <br>
          <br>

          
  </div>


{% endblock %}